.landing-page {
    text-align: center;
    padding: 0px;
    overflow-x: hidden;

  }
  .container {
    overflow-x: hidden;
  }

  .features-container1 {
    margin-left: 40px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:35px;
  }


  .landing-copyright{
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 70%;
  } 
  .landing-copyright h2{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .features-container2 {
    margin-left: 40px;

    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:25px;
  }

  .features-panels {
    flex: 0 1 30%; /* Adjust the width to be approximately one-third */
    margin: 10px; /* Add some margin for spacing */
    height: 100px;
    border: none !important;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    background-color: #011627;
    display: flex;
    color: #1098F7;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    transition: transform 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
   

  }
  
  .features-panels:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 24px rgba(0, 0, 0, 0.38);  }
  .features-panels p{
    margin-top: auto !important;
    margin-bottom: auto !important;

    font-size: 18px;
    line-height: 1.6;
   
  }


  .landing-header {
    height: 780px;
    background: #1098F7;
    color: #011627;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    justify-content:center;
    text-align: center;
    gap: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .landing-header h1 {
    font-family: "DM Serif Display", sans-serif;
    font-size: 72px;
    color: #22223B;
    line-height: 1.05;
    margin-bottom: 20px; 
  }
  
  .landing-header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .landing-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 0px;
  }
  
  .landing-btn {
    background-color: #1098F7;
    color: #FDFFFC;
    border: none;
    padding: 12px 28px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .landing-btn:hover {
    background-color: #2C6E49;
    color: #fff;
  }
  
  .learn{
    padding-top: 35px;
    padding-bottom: 35px;
    color: #F1D302;
    font-size: 56px;
    font-family: "DM Serif Display", sans-serif;
    display: flex;
    justify-content: flex-start;
    padding-left: 110px;
    background: #011627;

  }
  .useralready{
    height: 780px;
    background: #011627;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 0px;
  }

  .useralready h2 {
    font-family: "DM Serif Display", sans-serif;
    font-size: 72px;
    color: #F1D302;
    line-height: 1.05;
    margin-bottom: 0px; 
  }
  .useralready h1 {
    font-family: "DM Serif Display", sans-serif;
    font-size: 36px;
    color: #F1D302;
    line-height: 1.05;

    margin-top: 40px; 
  }
  
  .useralready p{
    margin-top:20px;
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.6;
  }


  .features {
    height: 650px;
    background: #011627;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.features h1 {
    font-family: "DM Serif Display", sans-serif;
    font-size: 72px;
    color: #F1D302;
    line-height: 1.05;
    margin-bottom: 20px; 
}

.features p {
    font-size: 17px;
    color: white;
    line-height: 1.6;
}
