/* Navbar Layout */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #FDFFFC;
    border-bottom: 5px solid #1098F7;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Logo */
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-right: auto; /* Align NotedAF text to the right */
}

.logo:hover {
    color: #4CAF50;
}

/* Search Icon */
.search-icon {
    width: 42px;
    height: 42px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search-icon:hover {
    transform: scale(1.1);
    stroke: #4CAF50;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: auto; /* Ensure left section is aligned to the left */
}

/* Right Navbar Section */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px; /* Add some space between buttons */
    margin-left: auto; /* Align buttons to the right */
}

.search-text {
    margin-right: 0px;
    font-size: 20px;
    font-weight: 500;
    color: #313131;
}

/* Login Button, Logout Button, and Profile Button */
.login-btn, .logout-btn, .profile-btn {
    font-size: 16px !important;
    background-color: #1098F7;
    color: white;
    border: none;
    padding: 10px 20px !important;
    border-radius: 20px !important;
    text-decoration: none;
    font-weight: 600 !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover, .logout-btn:hover, .profile-btn:hover {
    background-color: #2C6E49;
}

/* Profile Dropdown */
.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-dropdown:hover .dropdown-menu {
    display: block;
}

.profile-dropdown .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown .dropdown-menu a:hover {
    background-color: #f1f1f1;
}